extends shared/layout

block title

  title 404

block content

  <!-- 404 Error Text -->
  div.text-center
    div.error.mx-auto(data-text='404') 404
    p.lead.text-gray-800.mb-5 Page Not Found
    p.text-gray-500.mb-0 It looks like you found a glitch in the matrix...
    a(href='index.html') &larr; Back to Dashboard
